<!DOCTYPE html>
<html ng-app="blog">
<head>
  <title>My application</title>
  <link rel="stylesheet" media="all" href="css/bootstrap.min.css">
  <link rel="stylesheet" media="all" href="css/custom.css">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">AWJ Base Project</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#person">Person</a></li>
            <li><a href="#product">Product</a></li>
            <li><a href="#animal">Animal</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <hr/>
  
 <div class="container">
    <div ng-controller="HomeController">
      <h1>{{ helloWorld }}</h1>
     
    </div>
  </div>
  

  <hr/>

 
  <!-- /resources1 -->
  
  
  <div class="container" ng-controller="HomeController">
    <h1 class="resource-title" id="person">Person</h1>

    <table class="table table-bordered table-hover">
      <tr class="info">
        <th>Id</th>
        <th>Nume</th>
       
   
        <th style="width:210px;">Options</th>
      </tr>
	    <tr ng-repeat="item in persons.data" data-id="{{ item.id }}">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
		<td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <button ng-click="setUpdatePerson(item)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
          </a>
          <button ng-click="deletePerson(item.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>
      </tr>
      
    
    </table>

    <div class="row">
      <div class="col-md-3">
        <h2>Edit person</h2>
        <form action="" method="">
          
          <div class="form-group">
            <label for="attribute2">ID</label>
            <input type="text" class="form-control" id="attribute2" placeholder="ID">
          </div>
                 <div class="form-group">
            <label for="attribute3">Nume</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Nume">
          </div>
          <button type="submit" class="btn btn-info">Save</button>
        </form>
      </div>


      <div class="col-md-3 col-md-offset-6">
        <h2>Add person</h2>
        <form action="" method="">
        
          <div class="form-group">
            <label for="attribute2">ID</label>
            <input type="text" class="form-control" id="attribute2" placeholder="ID" ng-model="person.id">
          </div>
         <div class="form-group">
            <label for="attribute3">Nume</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Nume" ng-model="person.name">
          </div>
          <button ng-click="addPerson(person)" type="submit" class="btn btn-success">Add</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Show person</h2>
      </div>
      <div class="col-md-2">
        <img src="http://www.walabiz.fr/images/bibli/people.jpg" class="img-thumbnail"/>
      </div>
      <div class="col-md-10">
        
      </div>
    </div>
  </div>

  <hr/>

  <!-- /resources2-->
  
   <div class="container" ng-controller="HomeController">
    <h1 class="resource-title" id="product">Product</h1>

    <table class="table table-bordered table-hover">
      <tr class="info">
        <th>Id</th>
        <th>Quantity</th>
        <th>Name</th>
   
        <th style="width:210px;">Options</th>
      </tr>
	    <tr ng-repeat="item in products.data" data-id="{{ item.id }}">
        <td>{{ item.id }}</td>
        <td>{{ item.quantity}}</td>
		<td>{{ item.name }}</td>
		<td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <button ng-click="setUpdateProducts(item)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
          </a>
          <button ng-click="deleteProduct(item.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>
      </tr>
      
    
    </table>

    <div class="row">
      <div class="col-md-3">
        <h2>Edit product</h2>
        <form action="" method="">
          
          <div class="form-group">
            <label for="attribute2">ID</label>
            <input type="text" class="form-control" id="attribute2" placeholder="ID">
          </div>
                 <div class="form-group">
            <label for="attribute3">Quantity</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Quantity">
          </div>  
		  
           <div class="form-group">
            <label for="attribute3">Name</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Name">
          </div>
          <button type="submit" class="btn btn-info">Save</button>
        </form>
      </div>


      <div class="col-md-3 col-md-offset-6">
        <h2>Add product</h2>
        <form action="" method="">
        
          <div class="form-group">
            <label for="attribute2">ID</label>
            <input type="text" class="form-control" id="attribute2" placeholder="ID" ng-model="product.id">
          </div>
		   <div class="form-group">
            <label for="attribute3">Quantity</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Quantity" ng-model="product.quantity">
          </div>
         <div class="form-group">
            <label for="attribute3">Nume</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Nume" ng-model="product.name">
          </div>
          <button ng-click="addProduct(product)" type="submit" class="btn btn-success">Add</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Show product</h2>
      </div>
      <div class="col-md-2">
        <img src="http://www.rainstorminc.com/wp-content/uploads/2011/06/coursestorm-icon.png" class="img-thumbnail"/>
      </div>
      <div class="col-md-10">
        
      </div>
    </div>
  </div>

  <hr/>

    
 <!-- /resources3-->

 
    <div class="container" ng-controller="HomeController">
    <h1 class="resource-title" id="animal">Animal</h1>

    <table class="table table-bordered table-hover">
      <tr class="info">
        <th>Id</th>
        <th>Age</th>
        <th>Name</th>
   
        <th style="width:210px;">Options</th>
      </tr>
	    <tr ng-repeat="item in animals.data" data-id="{{ item.id }}">
        <td>{{ item.id }}</td>
        <td>{{ item.age}}</td>
		<td>{{ item.name }}</td>
		<td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <button ng-click="setUpdateAnimals(item)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
          </a>
          <button ng-click="deleteAnimal(item.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>
      </tr>
      
    
    </table>

    <div class="row">
      <div class="col-md-3">
        <h2>Edit animal</h2>
        <form action="" method="">
          
          <div class="form-group">
            <label for="attribute2">ID</label>
            <input type="text" class="form-control" id="attribute2" placeholder="ID">
          </div>
                 <div class="form-group">
            <label for="attribute3">Age</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Age">
          </div>  
		  
           <div class="form-group">
            <label for="attribute3">Name</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Name">
          </div>
          <button type="submit" class="btn btn-info">Save</button>
        </form>
      </div>


      <div class="col-md-3 col-md-offset-6">
        <h2>Add animal</h2>
        <form action="" method="">
        
          <div class="form-group">
            <label for="attribute2">ID</label>
            <input type="text" class="form-control" id="attribute2" placeholder="ID" ng-model="animal.id">
          </div>
		   <div class="form-group">
            <label for="attribute3">Age</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Age" ng-model="animal.age">
          </div>
         <div class="form-group">
            <label for="attribute3">Nume</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Nume" ng-model="animal.name">
          </div>
          <button ng-click="addAnimal(animal)" type="submit" class="btn btn-success">Add</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Show animal</h2>
      </div>
      <div class="col-md-2">
        <img src="http://science-all.com/images/animals/animals-05.jpg" class="img-thumbnail"/>
      </div>
      <div class="col-md-10">
        
      </div>
    </div>
  </div>

  <hr/>

 
 
  
 
  <div class="container">
    <footer class="footer">
      <p class="text-muted pull-left">AWJ Base Project &copy; 2015-2016</p>
      <p class="text-muted pull-right">Moise Elena Madalina, 333AA</p>
    </footer>
  </div>

  <script src="js/jquery-1.11.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>